@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/05%20-%20Copia.bmp" width="100%" />
</div>

<div class="row" style="position: relative; right:  -49px;">

    <div class="col-md-4">
        <h2>Rodas</h2>
        <p>
            <img src="~/Content/Rodas.jpg" width="100px" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lataria</h2>
        <p>
            <img src="~/Content/Latarias.jpg" width="100px" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maçanetas</h2>
        <p>
            <img src="~/Content/Ma%c3%a7anetas.png" width="100px" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parabrisas</h2>
        <p>
            <img src="~/Content/Parabrisas.png" width="100px" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>